[color]
	status = true
	branch = true
	ui = true
	diff = true
	interactive = true
[user]
	email = plapidus@gmail.com
	name = Perri Lapidus
[github]
	user = plapcity
[alias]
    	history = log --graph --all --format=format:'%C(bold blue)%h%C(reset) - %C(bold green)(%cr)%C(reset) %C(white)%s%C(reset) %C(bold white)— %cn%C(reset)%C(bold yellow)%d%C(reset)' --abbrev-commit --date=relative --date-order
	unstage = reset HEAD --